@charset "UTF-8";
body {
  background-color: #f6e1dc;
  font-family: 'Dosis', sans-serif;
  margin: 0px; }

header {
  font-family: dosis;
  font-size: 20pt; }
  header .header__menu--responsive {
    display: none; }
  header nav {
    padding: 0px; }
  header .header__menu {
    padding-top: 10px; }
    header .header__menu a {
      color: #C3391A;
      text-decoration: none; }
    header .header__menu a:hover {
      border-bottom: solid;
      width: 2px; }
    header .header__menu .navbar-brand {
      padding-bottom: 15px; }
    header .header__menu .navbar-brand:hover {
      border-bottom: none; }
    header .header__menu ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      list-style-type: none;
      margin: 0px; }
  header .header__logo--tamaño {
    width: 15%;
    margin: 0px 500px;
    padding: 0px; }
  header #side-menu {
    display: none; }

main {
  background-image: url(./multimedia/fondoshdos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0 0 200px 0; }
  main h1 {
    color: #C3391A;
    font-weight: 400;
    font-size: 50pt;
    text-shadow: 3px 3px 5px #f6e1dc; }
  main .titulos {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    margin: 0px; }
  main .logo {
    height: 40vw;
    width: 50vw;
    margin: 50px 300px;
    opacity: 90%; }

#index__h1 {
  margin-left: 60px;
  padding-bottom: 0px;
  font-size: 60pt; }

#index__h2 {
  color: #C3391A;
  font-style: italic;
  font-weight: 350;
  font-size: 40pt;
  margin-left: 60px; }

#index__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0px 80px 0px; }
  #index__main .index__bienvenida {
    background-color: #f6e1dc;
    background-image: url(./multimedia/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 350;
    height: 600px;
    width: 500px;
    font-size: 25pt;
    margin: 0px; }
    #index__main .index__bienvenida p {
      color: #C3391A;
      padding: 40px; }

.index--slide {
  padding-left: 150px;
  width: 550px; }

.main__productos {
  background-image: url(./multimedia/fondoshdos.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px 0 0 0; }
  .main__productos .main__productos--grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 350px;
    grid-column-gap: 150px;
    margin: 125px 350px; }
    .main__productos .main__productos--grid a {
      color: #C3391A; }
    .main__productos .main__productos--grid img {
      width: 250px;
      height: 250px;
      border-radius: 50%; }
    .main__productos .main__productos--grid title {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 18px;
      padding: 20px 50px;
      color: #C3391A;
      font-size: 30pt; }
  .main__productos img {
    width: 100%; }
  .main__productos .productos__descripcion {
    background-image: url(./multimedia/fondo3.jpg); }
    .main__productos .productos__descripcion #foca, .main__productos .productos__descripcion #pan {
      display: grid;
      grid-template-columns: 400px 300px;
      grid-template-rows: 350px;
      grid-column-gap: 100px;
      padding: 200px 100px; }
    .main__productos .productos__descripcion img {
      width: 100%; }
    .main__productos .productos__descripcion p {
      font-weight: 280;
      width: 40vw;
      height: 20vh;
      font-size: 15pt;
      overflow: auto;
      color: #C3391A; }

.main__materiales {
  background-image: url(./multimedia/fondoshdos.jpg);
  background-repeat: repeat-y;
  background-size: contain;
  padding: 80px 0px 80px 0px; }
  .main__materiales .main__materiales--fotos {
    margin: 50px 400px;
    height: 40vh;
    width: 30vw; }
  .main__materiales #main__materiales--masama {
    margin: 200px 100px 50px 0px;
    padding: 0px 65px; }
    .main__materiales #main__materiales--masama h2 {
      font-size: 25pt; }
    .main__materiales #main__materiales--masama p {
      color: #C3391A;
      font-size: 18pt;
      font-weight: 200;
      width: 40vw;
      height: 55vh;
      overflow: auto;
      background-image: url(./multimedia/fondo2.jpg);
      background-size: contain; }
  .main__materiales .main__materiales--texto {
    margin: 20px 100px 50px 500px;
    padding: 0px 65px; }
    .main__materiales .main__materiales--texto h2 {
      font-size: 25pt; }
    .main__materiales .main__materiales--texto p {
      color: #C3391A;
      font-size: 18pt;
      font-weight: 200;
      width: 38vw;
      height: 30vh;
      overflow: auto;
      background-image: url(./multimedia/fondo2.jpg);
      background-size: contain; }

.main__quienes {
  background-image: url(./multimedia/fondoshdos.jpg);
  padding: 50px 0px 100px 0px;
  background-repeat: no-repeat;
  background-size: cover; }
  .main__quienes h1 {
    display: flex;
    justify-content: center;
    padding: 50px 0 80px 0; }
  .main__quienes img {
    height: 60vh; }
  .main__quienes .div__quienes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 80px 0px; }
  .main__quienes .div__quienes--texto {
    background-image: url(./multimedia/Fondo2.jpg);
    background-size: contain;
    padding: 10px;
    margin-left: 50px;
    width: 50%; }
    .main__quienes .div__quienes--texto p {
      color: #C3391A;
      font-size: 25pt;
      font-weight: 350; }

.main__contacto {
  background-image: url(./multimedia/fondoshdos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px 80px 0px; }
  .main__contacto p {
    font-size: 27pt; }
  .main__contacto .main__contacto--formulario {
    background-color: #C3391A;
    color: #f6e1dc;
    height: 900px;
    width: 500px;
    font-size: 16pt;
    padding: 50px;
    overflow: hidden;
    animation-name: formulario;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear; }

footer {
  background-color: #C3391A;
  margin: 0px; }
  footer #footer_contacto {
    padding: 50px; }
    footer #footer_contacto #footer_mail h2 {
      color: #f6e1dc;
      font-weight: 300;
      font-size: 20pt; }
    footer #footer_contacto #footer_mail p {
      font-size: 15pt;
      padding: 20px 40px;
      margin: 0px;
      color: #f6e1dc; }
    footer #footer_contacto #footer_redes h2 {
      color: #f6e1dc;
      font-weight: 300;
      font-size: 20pt;
      padding: 5px 80px 20px 200px; }
    footer #footer_contacto #footer_redes .footer_icono {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 20pt; }
      footer #footer_contacto #footer_redes .footer_icono a {
        color: #f6e1dc; }
      footer #footer_contacto #footer_redes .footer_icono a:hover {
        opacity: 50%; }

@keyframes formulario {
  0% {
    width: 0px;
    height: 0vh;
    transform: scale(1);
    overflow: hidden; }
  50% {
    width: 300px;
    height: 40vh;
    transform: scale(1.5); } }

@media only screen and (max-width: 767px) {
  body {
    width: 99.5vw;
    height: 95vh; }
  .header__menu .header__menu--responsive {
    display: inline; }
  .header__menu #menu--responisve a {
    color: #C3391A; }
  .header__menu .header__menu--grande {
    display: none; }
  main {
    padding: 0; }
    main .logo {
      height: 40vh;
      width: 80vw;
      margin: 50px 40px; }
  #index__h1 {
    margin: 0;
    font-size: 45pt; }
  #index__h2 {
    margin: 0;
    font-size: 35pt; }
  #index__main {
    padding: 0; }
    #index__main .index__bienvenida {
      width: 85vw;
      height: 80vh;
      margin: 50px 10px;
      overflow: auto; }
      #index__main .index__bienvenida p {
        padding: 15px;
        font-size: 20pt; }
  .index--slide {
    margin: 50px 10px 50px 10px;
    padding: 10px;
    width: 85vw;
    height: 85vh; }
  .main__productos {
    background-size: cover;
    padding-top: 10px; }
    .main__productos .main__productos--grid {
      display: grid;
      grid-template-columns: 145px 145px;
      grid-template-rows: 20px;
      grid-column-gap: 20px;
      margin: 100px 40px 0 40px;
      padding: 0 0 350px 0; }
      .main__productos .main__productos--grid h1 {
        font-size: 10pt;
        padding-top: 50px; }
      .main__productos .main__productos--grid img {
        width: 38vw;
        height: 24vh; }
      .main__productos .main__productos--grid title {
        font-size: 20pt;
        padding: 0 50px 0 35px;
        margin: 0px; }
    .main__productos .productos__descripcion {
      padding: 50px 0px 200px 0px; }
      .main__productos .productos__descripcion #foca, .main__productos .productos__descripcion #pan {
        display: grid;
        grid-template-columns: 100px 50px;
        grid-template-rows: 100px;
        grid-column-gap: 50px;
        margin-left: 5px;
        padding: 200px 0; }
      .main__productos .productos__descripcion #pan {
        display: grid;
        grid-template-columns: 100px 50px;
        grid-template-rows: 100px;
        grid-column-gap: 50px;
        margin-left: 5px;
        padding: 100px 0 200px 0; }
      .main__productos .productos__descripcion img {
        height: 20vh;
        width: 35vw; }
      .main__productos .productos__descripcion p {
        height: 30vh;
        width: 50vw;
        font-size: 18pt; }
  .main__materiales {
    margin: 0px;
    padding: 0; }
    .main__materiales h1 {
      font-size: 35pt; }
    .main__materiales .main__materiales--fotos {
      width: 70vw;
      height: 50vh;
      margin: 0 0 50px 50px; }
    .main__materiales #main__materiales--masama {
      margin: 0;
      padding: 10px 0; }
      .main__materiales #main__materiales--masama p {
        color: #C3391A;
        font-size: 15pt;
        overflow: auto;
        height: 80vh;
        width: 90vw;
        margin-left: 15px; }
    .main__materiales .main__materiales--texto {
      margin: 0;
      padding: 10px 0; }
      .main__materiales .main__materiales--texto p {
        color: #C3391A;
        font-size: 15pt;
        overflow: auto;
        height: 30vh;
        width: 90vw;
        margin-left: 15px; }
  .main__quienes {
    padding: 0 0 50px 0; }
    .main__quienes h1 {
      display: flex;
      justify-content: center;
      margin: 0px;
      padding: 50px 0 20px 0;
      font-size: 35pt; }
    .main__quienes .div__quienes {
      padding: 20px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0px 0px 0px 0px; }
      .main__quienes .div__quienes img {
        width: 400px;
        height: 400px; }
      .main__quienes .div__quienes .div__quienes--texto {
        padding: 15px;
        margin-right: 50px;
        height: 380px;
        width: 300px;
        overflow: auto; }
        .main__quienes .div__quienes .div__quienes--texto p {
          font-size: 18pt; }
  .main__contacto {
    padding: 50px 0px 100px 0px; }
    .main__contacto h1 {
      font-size: 35pt; }
    .main__contacto p {
      font-size: 18pt;
      font-weight: 500;
      margin: 0 20px 20px 20px; }
    .main__contacto .main__contacto--formulario {
      background-color: #C3391A;
      color: #f6e1dc;
      height: 900px;
      width: 50vh;
      font-size: 16pt;
      padding: 20px;
      overflow: hidden;
      animation-name: none; }
  footer {
    margin: 0px; }
    footer #footer_contacto #footer_mail h2 {
      font-size: 20pt;
      justify-content: initial; }
    footer #footer_contacto #footer_mail p {
      font-size: 15pt;
      padding: 20px 0;
      margin-right: 100px;
      justify-content: initial; }
    footer #footer_contacto #footer_redes h2 {
      font-size: 20pt;
      padding: 20px 0;
      justify-content: initial; }
    footer #footer_contacto #footer_redes .footer_icono {
      justify-content: space-between; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    width: 100vw;
    height: 100vh; }
  .header__menu .header__menu--responsive {
    display: inline; }
  .header__menu #menu--responisve {
    font-size: 30pt; }
    .header__menu #menu--responisve .d-inline-block {
      height: 90px;
      width: 90px; }
    .header__menu #menu--responisve a {
      color: #C3391A; }
  .header__menu .header__menu--grande {
    display: none; }
  main .logo {
    margin: 0 100px 10px 100px;
    height: 50vh;
    width: 65vw; }
  main h1 {
    font-size: 55pt; }
  #index__h1 {
    margin: 0 0 0 20px;
    font-size: 60pt; }
  #index__h2 {
    margin: 0 0 20px 35px;
    font-size: 55pt;
    font-weight: 300; }
  #index__main .index__bienvenida {
    width: 85vw;
    height: 70vh;
    margin: 0 0 0 20px;
    overflow: auto;
    font-size: 33pt; }
  .index--slide {
    margin: 60px 0px 300px 20px;
    padding: 10px;
    width: 85vw;
    height: 50vh; }
  .main__productos {
    background-size: cover; }
    .main__productos .main__productos--grid {
      display: grid;
      grid-template-columns: 200px 200px;
      grid-template-rows: 35px;
      grid-column-gap: 100px;
      margin: 80px 0px 200px 100px;
      padding-bottom: 300px; }
      .main__productos .main__productos--grid img {
        height: 20vh;
        width: 28vw;
        margin-left: 50px; }
      .main__productos .main__productos--grid title {
        font-size: 35pt;
        margin: 0 0 0 55px; }
    .main__productos .productos__descripcion {
      margin-top: 300px; }
      .main__productos .productos__descripcion #foca, .main__productos .productos__descripcion #pan {
        display: grid;
        grid-template-columns: 150px 50px;
        grid-template-rows: 100px;
        grid-column-gap: 50px;
        margin: 0 50px 100px 10px;
        padding: 100px 0; }
        .main__productos .productos__descripcion #foca .productos__descripcion--texto, .main__productos .productos__descripcion #pan .productos__descripcion--texto {
          margin-left: 50px; }
      .main__productos .productos__descripcion #pan {
        display: grid;
        grid-template-columns: 150px 50px;
        grid-template-rows: 100px;
        grid-column-gap: 50px;
        margin: 0 50px 0 10px;
        padding: 100px 0 400px 0; }
        .main__productos .productos__descripcion #pan .productos__descripcion--texto {
          margin-left: 50px; }
      .main__productos .productos__descripcion img {
        height: 23vh;
        width: 30vw; }
      .main__productos .productos__descripcion h2 {
        font-size: 30pt; }
      .main__productos .productos__descripcion p {
        overflow: auto;
        height: 250px;
        width: 400px;
        font-size: 25pt; }
  .main__materiales {
    margin: 0px;
    padding: 55px 0 0 0; }
    .main__materiales .main__materiales--fotos {
      height: 70vh;
      width: 50vw;
      margin: 50px 155px 0px 155px; }
    .main__materiales #main__materiales--masama {
      margin: 0 10px;
      padding: 10px 0; }
      .main__materiales #main__materiales--masama h2 {
        font-size: 38pt; }
      .main__materiales #main__materiales--masama p {
        color: #C3391A;
        font-size: 24pt;
        overflow: auto;
        height: 80vh;
        width: 90vw; }
    .main__materiales .main__materiales--texto {
      margin: 0 10px 200px 10px;
      padding: 10px 0; }
      .main__materiales .main__materiales--texto h2 {
        font-size: 38pt; }
      .main__materiales .main__materiales--texto p {
        color: #C3391A;
        font-size: 24pt;
        overflow: auto;
        height: 20vh;
        width: 90vw; }
  .main__quienes {
    padding: 50px 0; }
    .main__quienes h1 {
      display: flex;
      justify-content: center;
      margin: 0px;
      padding: 50px 0 20px 0; }
    .main__quienes .div__quienes {
      padding: 20px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0; }
      .main__quienes .div__quienes img {
        height: 500px;
        width: 500px; }
      .main__quienes .div__quienes .div__quienes--texto {
        margin: 0 20px 150px 20px;
        height: 400px;
        width: 550px;
        overflow: auto; }
        .main__quienes .div__quienes .div__quienes--texto p {
          font-size: 25pt;
          padding: 10px;
          font-weight: 300; }
  .main__contacto {
    padding: 50px 0px 300px 0px; }
    .main__contacto p {
      font-size: 27pt; }
    .main__contacto .main__contacto--formulario {
      background-color: #C3391A;
      color: #f6e1dc;
      height: 120vh;
      width: 80vw;
      font-size: 22pt;
      padding: 50px;
      overflow: hidden;
      animation-name: none; }
  footer {
    margin: 0px; }
    footer #footer_contacto #footer_mail h2 {
      font-size: 21pt; }
    footer #footer_contacto #footer_mail p {
      padding: 20px 15px;
      margin: 0px;
      font-size: 18pt; }
    footer #footer_contacto #footer_redes h2 {
      padding: 20px 70px;
      font-size: 21pt; } }
